<template>
  <div id="container">
    <div id="calendar">
      <div class="nav">
        <div>
          <v-btn icon large @click="previousMonth">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </div>
        <span>{{ currentMonth }} {{ currentYear }}</span>
        <div>
          <v-btn icon large @click="nextMonth">
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>
        </div>
      </div>
      <div class="content">
        <div class="content-header" v-for="d of daysOfWeek">{{ d }}</div>
        <div class="content-item" :style="!d.isCurrentMonth ? 'background-color: #F2F2F2' : ''" v-for="d of days">
          <span>
            {{ d.number }}
            <sup style="font-size: x-small">{{ d.month }}</sup>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'HelloWorld',

  data: () => ({
    daysOfWeek: ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
    months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
    currentTime: null
  }),

  beforeMount() {
    this.currentTime = new Date();
  },

  computed: {

    currentMonth() {
      return this.months[this.currentTime.getMonth()];
    },

    currentYear() {
      return this.currentTime.getFullYear();
    },

    days() {
      const daysOfCurrentMonth = [];
      const daysOfPreviousMonth = [];
      const daysOfNextMonth = [];

      const firstDayWeekOfCurrentMonth = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth(), 1).getDay();
      const lastDayWeekOfCurrentMonth = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth() + 1, 0).getDay();
      const lastDayOfCurrentMonth = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth() + 1, 0).getDate();
      const lastDayOfPreviousMonth = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth() + 1, 0).getDate();

      for (let i = 1; i <= lastDayOfCurrentMonth; i++) {
        daysOfCurrentMonth.push({number: i, isCurrentMonth: true});
      }

      if (firstDayWeekOfCurrentMonth !== 0) {
        for (let index = 1, number = lastDayOfPreviousMonth; index <= firstDayWeekOfCurrentMonth; index++, number--) {
          daysOfPreviousMonth.unshift({number: number});
        }
      }

      if (lastDayWeekOfCurrentMonth !== 6) {
        for (let index = lastDayWeekOfCurrentMonth, number = 1; index < 6; index++, number++) {
          daysOfNextMonth.push({number: number});
        }
      }

      if (daysOfPreviousMonth.length){
        const nextMonth = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth()-1).getMonth();
        daysOfPreviousMonth[0].month = this.months[nextMonth].substring(0, 3);
      }
      daysOfCurrentMonth[0].month = this.months[this.currentTime.getMonth()].substring(0, 3);

      if (daysOfNextMonth.length){
        const previousMonth = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth()+1).getMonth();
        daysOfNextMonth[0].month = this.months[previousMonth].substring(0, 3);
      }


      return [...daysOfPreviousMonth, ...daysOfCurrentMonth, ...daysOfNextMonth];
    },

  },

  methods: {
    nextMonth() {
      this.currentTime = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth()+1);
    },

    previousMonth() {
      this.currentTime = new Date(this.currentTime.getFullYear(), this.currentTime.getMonth()-1);
    }
  }
}
</script>

<style lang="scss">

#container {
  display: flex;
  padding: 20px;
  justify-content: center;
}

#calendar {
  height: 350px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

  .nav {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5% 0 2.5%;
    font-size: 1.5rem;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;

    & .content-item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      width: 14.286%;
    }

    & .content-header{
      display: inline-flex;
      justify-content: center;
      align-items: flex-end;
      width: 14.286%;
      color: #bebebe;
      font-size: 0.75rem;
      border-bottom: 1px solid #bebebe;
    }
  }

}
</style>
